// google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

// layout
:root {
  // --primary: golden;
  --error: #e7195a;
  --secondary: #1f8dba;
  --success: #6ba644;

  --color0: #777777;
  --color1: #FFB6C1;
  --color2: #87CEEB;
  --color3: #93C572;
  --color4: #FFA500;
  --color5: #FBEC5D;
  --color6: #E34234;
}

button {
  background: var(--success);
  border: 0;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
 
// scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #666; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #999; 
}
::-webkit-scrollbar-thumb:hover {
  background: #acacac; 
}

body {
  background: #555;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #333;
  box-shadow: 0 5px 5px #00000030;
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  h1 {
    margin: 10px;
  }
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

// homepage
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 60px;
  margin-top: 20px;
}
.notes {
  display: flex;
  flex-direction: column ;
  overflow-x: hidden;
  gap: 20px;
  padding-right: 16px;
  max-height: calc(100vh - 165px);
  position: relative;
  &-list-item {
    background: #333;
    border-radius: 4px;
    position: relative;
    box-shadow: 2px 2px 5px #33333380;
    padding: 12px 20px 20px;
    border-top: 10px solid #333;
    height: max-content;
    h4 {
      margin: 0px;
      font-size: 1.2em;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      width: max-content;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin: 0;
      font-size: 1em;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      opacity: .6;
      max-width: 90%;
    }
    span {
      position: absolute;
      top: 12px;
      right: 15px;
      margin: 0;
      font-size: .7em;
      color: #333;
      font-weight: 600;
    }
    svg {
      position: absolute;
      top: 12px;
      right: 15px;
      cursor: pointer;
      display: none;
    }
    &:hover {
      svg {
        display: block;
      }
      span {
        display: none;
      }
    }
  }
}

.note-details {
  background: #333;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 5px #33333380;
  padding: 12px 20px 20px;
  border-top: 10px solid #333;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;

  input {
    margin: 0px;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }
  textarea {
    margin: 0;
    font-size: 1.3em;
    color: #fff;
    opacity: .6;
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    &:focus {
      outline: none;
    }
  }
  span {
    position: absolute;
    top: 12px;
    right: 15px;
    margin: 0;
    font-size: .7em;
    color: #333;
    font-weight: 600;
  }
  svg {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    display: none;
  }
  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary);
    &:disabled {
      opacity: .4;
      cursor: default;
    }
  }
  .saved {
    color: var(--success);
    position: absolute;
    right: 20px;
    bottom: 70px;
    font-weight: 600;
    font-size: 1.2em;
  }
}

.color {
  &-0 {
    &.notes-list-item,
    &.note-details {
      border-top-color: var(--color0);
      span {
        color: var(--color0);
      }
    }
  }
  &-1 {
    &.notes-list-item,
    &.note-details {
      border-top-color: var(--color1);
      span {
        color: var(--color1);
      }
    }
  }
  &-2 {
    &.notes-list-item,
    &.note-details {
      border-top-color: var(--color2);
      span {
        color: var(--color2);
      }
    }
  }
  &-3 {
    &.notes-list-item,
    &.note-details {
      border-top-color: var(--color3);
      span {
        color: var(--color3);
      }
    }
  }
  &-4 {
    &.notes-list-item,
    &.note-details {
      border-top-color: var(--color4);
      span {
        color: var(--color4);
      }
    }
  }
  &-5 {
    &.notes-list-item,
    &.note-details {
      border-top-color: var(--color5);
      span {
        color: var(--color5);
      }
    }
  }
  &-6 {
    &.notes-list-item,
    &.note-details {
      border-top-color: var(--color6);
      span {
        color: var(--color6);
      }
    }
  }
}

// new note form
.create {
  padding: 20px;
  background-color: #333;
  h3 {
    color: #fff;
    margin: 0px;
    margin-bottom: 15px;
  }
  label, 
  input {
    display: block;
    color: #fff;
  }
  input,
  textarea,
  select {
    resize: vertical;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background-color: #555;
  }
  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }
  input.error {
    border: 1px solid var(--error);
  }
}

.loader {
  z-index: 2;
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    &:nth-child(2) {
      animation-delay: -0.5s;
    }
  }
}
@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
